body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

#root {
  height: 100%;
}

main {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.column {
  float: left;
  height: 100%;
}

.row {
  height: 100%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.fileTreeColumn {
  width: 15rem;
}

.fileEditorColumn {
  width: calc(100% - 15rem);
  background-color: #515152;
}


.FileEditor {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  padding-top: 0px;
  /* 
    border-right: 1px solid white; 
    box-sizing: border-box;
  */
}

.FileEditor textarea {
  border: none;
  outline: none;
  resize: none;
  width: 100%;
  height: 100%;
  background-color: #515152;
  font-size: 1.55rem;
}

.FileTree {
  height: 100%;
  width: calc(100% - 10px);
  margin-left: 10px;
  /* width: 13%; */
}

.TreeItem {
  cursor: pointer;
}

.TreeItem > h1, .TreeItem > h2, .TreeItem > h3 {
  margin-top: 0;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.shortFileNameSpan {
  float: left;
  width: 10.1rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.TreeItem > h1:hover, .TreeItem > h2:hover, .TreeItem > h3:hover {
  background-color: #515152;
}

.folderName {
  color: #b5b5b5fa;
}

.folderChildren {
  border-left: 2px solid darkgray;
  padding-left: 1rem;
}

.folderChildrenClosed {
  display: none;
}

.settingsButton {
  cursor: pointer;
  margin-right: 0.5rem;
  margin-top: 3px;
  float: right;
  background-color: transparent;
  background-image: url("settings-svgrepo-com.svg");
  background-repeat: no-repeat;
  height: 1.4rem;
  width: 1.4rem;
  border: none;
}

.saveButton {
  /*
  float: right;
  */
  margin-left: 1rem;
  cursor: pointer;
  background-color: transparent;
  background-image: url("save-svgrepo-com.svg");
  background-repeat: no-repeat;
  height: 1.4rem;
  width: 1.4rem;
  border: none;
}

.addFileButton {
  cursor: pointer;
  margin-right: 0.5rem;
  margin-top: 3px;
  float: right;
  background-color: transparent;
  background-image: url("actions-add-file-svgrepo-com.svg");
  background-repeat: no-repeat;
  height: 1.4rem;
  width: 1.4rem;
  border: none;
}

.addFolderButton {
  cursor: pointer;
  margin-right: 0.5rem;
  margin-top: 3px;
  float: right;
  background-color: transparent;
  background-image: url("add-folder-svgrepo-com.svg");
  background-repeat: no-repeat;
  height: 1.4rem;
  width: 1.4rem;
  border: none;
}
